<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-paypalhere"
        version="0.0.1">
    
    <name>PayPalHere</name>
    
    <description>This plugin for Cordova allows you to communicate with the PayPal Here application from your own Cordova application. It requires an URI Scheme (iOS) or a Package Name (Android).</description>
    
    <keywords>Cordova,plugin,app,paypal,here,URIScheme,URI,Scheme,PackageName,Package,Name,iOS</keywords>
    
    <repo>https://github.com/ddefar/cordova-plugin-paypalhere.git</repo>
    
    <license>Masinerija</license>
    
    <preference name="URL_SCHEME" />

    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>
    
    <js-module src="www/PayPalHere.js" name="PayPalHere">
        <clobbers target="payPalHere" />
    </js-module>
    
    <!-- iOS -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="PayPalHere">
                <param name="ios-package" value="PayPalHere" />
            </feature>
        </config-file>
        <config-file target="*-Info.plist" parent="CFBundleURLTypes">
            <array>
                <dict>
                    <key>CFBundleURLName</key>
                    <string>com.buttersupersoft.butter</string>
                    <key>CFBundleURLSchemes</key>
                    <array>
                        <string>$URL_SCHEME</string>
                    </array>
                </dict>
            </array>
        </config-file>

        <hook type="before_build" src="scripts/preBuild.js" />
        
        <header-file src="src/ios/PayPalHere.h" />
        <source-file src="src/ios/PayPalHere.m" />
        <!--
        <source-file src="libs/ios/PayPalHereSDK.framework/Versions/A/PayPalHereSDK" framework="true" />
         -->
        <!--
        <framework src="libs/ios/PayPalHereSDK.framework" custom="true" />

        <header-file src="libs/ios/PayPalHereSDK.framework/Versions/A/Headers/PayPalHereSDK.h" />
        <header-file src="libs/ios/PayPalHereSDK.framework/Versions/A/Headers/PPHCardReaderManager.h" />
        <header-file src="libs/ios/PayPalHereSDK.framework/Versions/A/Headers/PPHCardSwipeData.h" />
        <header-file src="libs/ios/PayPalHereSDK.framework/Versions/A/Headers/PPHError.h" />
     -->
        <framework src="Accelerate.framework" />
        <framework src="ExternalAccessory.framework" />
        <framework src="AudioToolbox.framework" />
        <framework src="AVFoundation.framework" />
        <framework src="CFNetwork.framework" />
        <framework src="CoreGraphics.framework" />
        <framework src="CoreLocation.framework" weak="true" />
        <framework src="CoreMedia.framework" weak="true" />
        <framework src="CoreVideo.framework"/>
        <framework src="MessageUI.framework" />
        <framework src="OpenGLES.framework" />
        <framework src="MobileCoreServices.framework" />
        <framework src="Security.framework" />
        <framework src="SafariServices.framework"/>
        <framework src="SystemConfiguration.framework" />
        <framework src="QuartzCore.framework"/>
        <framework src="UIKit.framework"/>


    </platform>
    
</plugin>